/* welcome */
.header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    font-family: cursive;
    font-size: 60px; 
}

/* navigation bar background*/
.topnav{
    background-color: #333;
    overflow:hidden;
}

/* navigation bar link style*/
.topnav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

/* heading of each website*/
.bottomdiv h1{
    color: #00356B;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 35px;
    font-family: cursive;
}



figure {
    display: inline-block;
    margin: 20px; 
}

/* image style */
figure img{
    vertical-align: top;
    padding-left: 40px;
    width: auto;
    height: 300px; 
}

/* image caption style */
figure figcaption{
    color: #00356B;
    font-size: 15px;
    font-family: sans-serif;
    font-style: italic;
    text-align: right;
}

/* "address: and opening hours:" style */
.bottomdiv h3{
    color: #00356B;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* address link style */
.bottomdiv a{
    color: #2960be;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 90px;

}

/* hours style */
.bottomdiv h5{
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 80px;
}

/* day style */
.day{
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    padding-right: 8px;
    padding-left: 15px;
}

.home button{
    background-color: #d3e1ff;
    border-radius: 8px;
    color: #00356B;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 12px 30px;
    position: fixed;
    left: 870px;
    top: 170px;
}

.home img{
    height: 480px;
    width: auto;
    padding-left: 0%;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.home h1{
    color: #00356B;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 35px;
    font-family: cursive;
}

/* for dropdown menu */




/* tsai city comment */
#comment-box{
    height: 100px;
    width: 300px;
    border-radius: 5px;

}

.commentbox{
    padding-left: 900px;
    position: fixed;
    left: -60px;
    top: 250px;
}

#submit{
    background-color: #d3e1ff;
    border-radius: 8px;
    color: #00356B;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 4px 4px;
}


