/* welcome */
.header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    font-family: cursive;
    font-size: 60px; 
}

/* navigation bar background*/
.topnav{
    background-color: #333;
    overflow:hidden;
}

/* navigation bar link style*/
.topnav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

/* heading of each website*/
.bottomdiv h1{
    color: #00356B;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 35px;
    font-family: cursive;
}



figure {
    display: inline-block;
    margin: 20px; 
}

/* image style */
figure img{
    vertical-align: top;
    padding-left: 40px;
    width: auto;
    height: 300px; 
}

/* image caption style */
figure figcaption{
    color: #00356B;
    font-size: 15px;
    font-family: sans-serif;
    font-style: italic;
    text-align: right;
}

/* "address: and opening hours:" style */
.bottomdiv h3{
    color: #00356B;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* address link style */
.bottomdiv a{
    color: #2960be;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 90px;

}

/* hours style */
.bottomdiv h5{
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 80px;
}

/* day style */
.day{
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    padding-right: 8px;
    padding-left: 15px;
}

.home button{
    background-color: #d3e1ff;
    border-radius: 8px;
    color: #00356B;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 12px 30px;
}

.home img{
    height: 480px;
    width: auto;
    padding-left: 0%;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}

.home h1{
    color: #00356B;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 35px;
    font-family: cursive;
}

/* for dropdown menu */
.home body {
    height: 100%;
background: url(http://pickupleagues.com/images/backgrounds/CC_fence-basketball.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: Verdana, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .user-box {
    margin: 0 auto;
    width: 400px;
  }
  
  .user-id {
    height: 100px;
    width: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
  }
  
  .user-picture {
    height: 100%;
    float: left;
  }
  
  .user-name {
    height: 100%;
    width: 300px;
    font-size: 1.5em;
    line-height: 2.5em;
    padding: 20px;
    float: left;
  }
  
  .dropdown-arrow {
    height: 0;
    width: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #333;
    position: relative;
    top: 45px;
    left: 350px;
  }
  
  .user-id:hover .dropdown-arrow {
    top: 35px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #333;
    border-top: 10px solid transparent;
  }
  
  .dropdown-menu {
    list-style-type: none;
    display: none;
    background: #555; /* Non-rgba compatable browsers */
    background: rgba(33, 33, 33, 0.9);
  }
  
  .user-id:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
  }
  
  .dropdown-menu ul li {
    list-style-type: none;
    display: block;
    height: 100px;
    width: 400px;
    font-size: 1.5em;
    line-height: 2.5em;
    padding: 20px;
    color: #fff;
    border-bottom: 2px solid #333;
  }
  
  .dropdown-menu ul li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu ul li:hover {
    background: #333;
    color: #fff;
  }